<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.RecruitStudentsPlanMapper">
    <resultMap id="BaseResultMap" type="com.entity.RecruitStudentsPlan">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="yxdm" property="yxdm" jdbcType="VARCHAR"/>
        <result column="yxdh" property="yxdh" jdbcType="VARCHAR"/>
        <result column="yxdhmc" property="yxdhmc" jdbcType="VARCHAR"/>
        <result column="szd" property="szd" jdbcType="VARCHAR"/>
        <result column="sf985" property="sf985" jdbcType="INTEGER"/>
        <result column="sf211" property="sf211" jdbcType="INTEGER"/>
        <result column="bxlxdm" property="bxlxdm" jdbcType="INTEGER"/>
        <result column="bxlxmc" property="bxlxmc" jdbcType="VARCHAR"/>
        <result column="ssdm" property="ssdm" jdbcType="INTEGER"/>
        <result column="ssmc" property="ssmc" jdbcType="VARCHAR"/>
        <result column="zgdm" property="zgdm" jdbcType="INTEGER"/>
        <result column="zgmc" property="zgmc" jdbcType="VARCHAR"/>
        <result column="ccdm" property="ccdm" jdbcType="INTEGER"/>
        <result column="ccmc" property="ccmc" jdbcType="VARCHAR"/>
        <result column="zydm" property="zydm" jdbcType="VARCHAR"/>
        <result column="sbdm2" property="sbdm2" jdbcType="VARCHAR"/>
        <result column="zymc" property="zymc" jdbcType="VARCHAR"/>
        <result column="xzdmxg" property="xzdmxg" jdbcType="VARCHAR"/>
        <result column="xzdm" property="xzdm" jdbcType="CHAR"/>
        <result column="xzmc" property="xzmc" jdbcType="VARCHAR"/>
        <result column="sfbz" property="sfbz" jdbcType="VARCHAR"/>
        <result column="kldm" property="kldm" jdbcType="VARCHAR"/>
        <result column="ksklmc" property="ksklmc" jdbcType="VARCHAR"/>
        <result column="pcdm" property="pcdm" jdbcType="VARCHAR"/>
        <result column="pcmc" property="pcmc" jdbcType="VARCHAR"/>
        <result column="kslxdm" property="kslxdm" jdbcType="VARCHAR"/>
        <result column="kslxmc" property="kslxmc" jdbcType="VARCHAR"/>
        <result column="xkkmyq" property="xkkmyq" jdbcType="VARCHAR"/>
        <result column="xkkmyqzw" property="xkkmyqzw" jdbcType="VARCHAR"/>
        <result column="zsjhs" property="zsjhs" jdbcType="INTEGER"/>
        <result column="bz" property="bz" jdbcType="VARCHAR"/>
        <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP"/>
        <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP"/>
        <result column="km1" property="km1" jdbcType="VARCHAR"/>
        <result column="km2" property="km2" jdbcType="VARCHAR"/>
        <result column="km3" property="km3" jdbcType="VARCHAR"/>
        <result column="zydmNew" property="zydmNew" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, yxdm, yxdh, yxdhmc, szd, sf985, sf211, bxlxdm, bxlxmc, ssdm, ssmc, zgdm, zgmc,
        ccdm, ccmc, zydm, sbdm2, zymc, xzdmxg, xzdm, xzmc, sfbz, kldm, ksklmc, pcdm, pcmc,
        kslxdm, kslxmc, xkkmyq, xkkmyqzw, zsjhs, bz, gmt_create, gmt_modified, km1, km2, km3, zydmNew
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from recruit_students_plan
        where id = #{id,jdbcType=BIGINT}
    </select>
    <insert id="insertRecruitStudentsPlanBatch" parameterType="java.util.List">
        insert into recruit_students_plan (
        yxdm
        , yxdh
        , yxdhmc
        , szd
        , sf985
        , sf211
        , bxlxdm
        , bxlxmc
        , ssdm
        , ssmc
        , zgdm
        , zgmc
        , ccdm
        , ccmc
        , zydm
        , sbdm2
        , zymc
        , xzdmxg
        , xzdm
        , xzmc
        , sfbz
        , kldm
        , ksklmc
        , pcdm
        , pcmc
        , kslxdm
        , kslxmc
        , xkkmyq
        , xkkmyqzw
        , zsjhs
        , bz
        ,km1
        ,km2
        ,km3
        ,zydm_new)
        values
        <foreach collection="list" item="item" separator=",">
            (
            #{item.yxdm,jdbcType=VARCHAR}
            , #{item.yxdh,jdbcType=VARCHAR}
            , #{item.yxdhmc,jdbcType=VARCHAR}
            , #{item.szd,jdbcType=VARCHAR}
            , #{item.sf985,jdbcType=INTEGER}
            , #{item.sf211,jdbcType=INTEGER}
            , #{item.bxlxdm,jdbcType=INTEGER}
            , #{item.bxlxmc,jdbcType=VARCHAR}
            , #{item.ssdm,jdbcType=INTEGER}
            , #{item.ssmc,jdbcType=VARCHAR}
            , #{item.zgdm,jdbcType=INTEGER}
            , #{item.zgmc,jdbcType=VARCHAR}
            , #{item.ccdm,jdbcType=INTEGER}
            , #{item.ccmc,jdbcType=VARCHAR}
            , #{item.zydm,jdbcType=VARCHAR}
            , #{item.sbdm2,jdbcType=VARCHAR}
            , #{item.zymc,jdbcType=VARCHAR}
            , #{item.xzdmxg,jdbcType=VARCHAR}
            , #{item.xzdm,jdbcType=CHAR}
            , #{item.xzmc,jdbcType=VARCHAR}
            , #{item.sfbz,jdbcType=VARCHAR}
            , #{item.kldm,jdbcType=VARCHAR}
            , #{item.ksklmc,jdbcType=VARCHAR}
            , #{item.pcdm,jdbcType=VARCHAR}
            , #{item.pcmc,jdbcType=VARCHAR}
            , #{item.kslxdm,jdbcType=VARCHAR}
            , #{item.kslxmc,jdbcType=VARCHAR}
            , #{item.xkkmyq,jdbcType=VARCHAR}
            , #{item.xkkmyqzw,jdbcType=VARCHAR}
            , #{item.zsjhs,jdbcType=INTEGER}
            , #{item.bz,jdbcType=VARCHAR}
            , #{item.km1,jdbcType=VARCHAR}
            , #{item.km2,jdbcType=VARCHAR}
            , #{item.km3,jdbcType=VARCHAR}
            , #{item.zydmNew,jdbcType=VARCHAR}
            )
        </foreach>
    </insert>
    <select id="countSchool" resultType="int">
        SELECT count(*)
        FROM (
        SELECT count(*)
        FROM recruit_students_plan a, wntdqk b
        WHERE b.nf = #{nf}
        AND a.yxdh = b.schoole_code
        AND a.zymc = b.zymc
        AND b.tdmc &lt;=#{max} AND tdmc &gt;=#{min}
        AND
        (a.km1 = '00' OR
        a.km1
        IN
        (
        <foreach collection="list" item="item" separator=",">
            #{item}
        </foreach>
        )
        OR a.km2 IN (
        <foreach collection="list" item="item" separator=",">
            #{item}
        </foreach>
        ) OR a.km3 IN
        (
        <foreach collection="list" item="item" separator=",">
            #{item}
        </foreach>
        )
        )
        <if test="provinceCodes != null">
            AND ssdm IN (
            <foreach collection="provinceCodes" item="item" separator=",">
                #{item}
            </foreach>
            )
        </if>
        <if test="majorCodes !=null">
            AND a.zydm IN (
            <foreach collection="majorCodes" item="item" separator=",">
                #{item}
            </foreach>
            )
        </if>
        <if test="schoolCodes != null">
            AND a.yxdh IN (
            <foreach collection="schoolCodes" item="item" separator=",">
                #{item}
            </foreach>
            )
        </if>
        GROUP BY yxdh
        ) t
    </select>
    <select id="countMajor" resultType="int">
        SELECT count(*)
        FROM recruit_students_plan a, wntdqk b
        WHERE b.nf = #{nf}
        AND a.yxdh = b.schoole_code
        AND a.zymc = b.zymc
        AND b.tdmc &lt;=#{max} AND tdmc &gt;=#{min}
        AND
        (a.km1 = '00' OR
        a.km1
        IN
        (
        <foreach collection="list" item="item" separator=",">
            #{item}
        </foreach>
        )
        OR a.km2 IN (
        <foreach collection="list" item="item" separator=",">
            #{item}
        </foreach>
        ) OR a.km3 IN
        (
        <foreach collection="list" item="item" separator=",">
            #{item}
        </foreach>
        )
        )
        <if test="provinceCodes != null">
            AND ssdm IN (
            <foreach collection="provinceCodes" item="item" separator=",">
                #{item}
            </foreach>
            )
        </if>
        <if test="majorCodes !=null">
            AND a.zydm IN (
            <foreach collection="majorCodes" item="item" separator=",">
                #{item}
            </foreach>
            )
        </if>
        <if test="schoolCodes != null">
            AND a.yxdh IN (
            <foreach collection="schoolCodes" item="item" separator=",">
                #{item}
            </foreach>
            )
        </if>
    </select>
    <select id="listRecruitStudentsPlan" resultType="com.vo.RecruitStudentsPlanVo">
        SELECT
        a.zydm_new,
        a.zymc,
        a.xzmc,
        a.sfbz,
        a.xkkmyqzw,
        a.ccmc,
        concat(a.ssmc,'.',a.szd) AS ssmcSzd,
        b.ckzs,
        a.zsjhs,
        a.yxdh,
        a.yxdhmc,
        a.bz,
        a.zydm,
        a.bxlxmc,
        a.sfsyl,
        CASE a.sf985 WHEN 1 THEN '是' ELSE '否'
        END AS sf985Name,
        CASE a.sf211 WHEN 1 THEN '是' ELSE '否'
        END AS sf211Name,
        concat(a.yxdh,'|',a.yxdhmc,'|',a.zydm,'|',a.zymc,'|',b.ckzs,'|',a.zydm_new) AS zhcs,
        CASE ifnull((SELECT c.id
        FROM hxzy c
        WHERE a.yxdh = c.school_code AND c.major_code_new = a.zydm_new AND c.candidate_id = #{candidateId}), 'aaa')
        WHEN 'aaa'
        THEN '0'
        ELSE '1' END AS sfsc
        FROM recruit_students_plan a, wntdqk b
        WHERE b.nf = #{nf}
        AND a.yxdh = b.schoole_code
        AND a.zymc = b.zymc
        AND b.tdmc &lt;= #{max} AND tdmc &gt;= #{min}
        AND
        (a.km1 = '00' OR
        a.km1
        IN
        (
        <foreach collection="list" item="item" separator=",">
            #{item}
        </foreach>
        )
        OR a.km2 IN (
        <foreach collection="list" item="item" separator=",">
            #{item}
        </foreach>
        ) OR a.km3 IN
        (
        <foreach collection="list" item="item" separator=",">
            #{item}
        </foreach>
        )
        )
        <if test="provinceCodes != null">
            AND ssdm IN (
            <foreach collection="provinceCodes" item="item" separator=",">
                #{item}
            </foreach>
            )
        </if>
        <if test="majorCodes != null">
            AND a.zydm IN (
            <foreach collection="majorCodes" item="item" separator=",">
                #{item}
            </foreach>
            )
        </if>
        <if test="schoolCodes != null">
            AND a.yxdh IN (
            <foreach collection="schoolCodes" item="item" separator=",">
                #{item}
            </foreach>
            )
        </if>
        <if test="schoolName !=null">
            AND yxdhmc LIKE concat(#{schoolName},'%')
        </if>
        <if test="majorName !=null and majorName !=''">
            AND a.zymc LIKE concat(#{majorName},'%')
        </if>
    </select>
</mapper>