<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.SystemOpeningTimeMapper">
    <resultMap id="BaseResultMap" type="com.entity.SystemOpeningTime">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="start_time" property="startTime" jdbcType="CHAR"/>
        <result column="end_time" property="endTime" jdbcType="CHAR"/>
        <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP"/>
        <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, start_time, end_time, gmt_create, gmt_modified
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from system_opening_time
        where id = #{id,jdbcType=BIGINT}
    </select>

    <insert id="insert" parameterType="com.entity.SystemOpeningTime">
    insert into system_opening_time (id, start_time, end_time, 
      gmt_create, gmt_modified)
    values (#{id,jdbcType=BIGINT}, #{startTime,jdbcType=CHAR}, #{endTime,jdbcType=CHAR}, 
      #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP})
  </insert>

    <select id="getSystemOpeningTime" resultMap="BaseResultMap">
        SELECT
       id, start_time, end_time
        FROM system_opening_time
    </select>
</mapper>